#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  color: #072a82;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
}

#submit {
  margin: auto;
}